<section>
    <section>
        <input type="button" class="darkBlueBtn" value="Upload Idea" onclick="location.href='/staff/upload'">
    </section>
    <br>
    <div class="container">
        <div class="post-group">
            <div class="post">
                <div class="post__avatar"><i class=" icon fa fa-user"></i></div>
                <h3 class="post__author">
                    Duck Ming
                </h3>
                <h4 class="post__timestamp">
                    Oct 13 at 8:51pm
                </h4>
                <p class="post__body">
                    Hamilton county river front museum center washington park breweries walnut hills findlay market
                    christian moerlein flying pig ohio valley jazz festival union terminal fifty west coffee emporium
                    chili.
                </p>
                <div class="user-comment-card">
                    <div class="user-info">
                        <div class="user__comment"></div>
                        <div class="user__comment__reaction">
                            <i class="icon fa fa-thumbs-up"></i> <small>34</small>
                            <i class="icon fa fa-thumbs-down"></i> <small>04</small>
                            <i class="icon fa fa-comment"></i> <small>02</small>
                        </div>
                    </div>
                    <form action="" method="post">
                        <input class="input_comment" type="text" name="comment" placeholder="Comment..." id="comment" />
                        {{!-- <input type="submit" /> --}}
                    </form>
                </div>
                <div class="panel-collapse">
                    <div class="comment">
                        <div class="comment-header">
                            <br>
                            <img class="icon" src="https://i.imgur.com/JIt0euT.png" />
                            <span> Staff2 </span>
                            <small> 20/11/2014 2:35 PM </small>
                        </div>
                        <div class="comment-text">
                            comment comment comment comment comment
                        </div>
                    </div>
                </div>
                <br>
            </div>

        </div>

        <br>

    </div>
</section>