<div class="contener">
    {{!-- <div class="viewIdea">
        <div class="avatar"></div>
        <div class="title">123</div>
    </div> --}}
    <div class="post-group">
        <div class="post">
            <div class="post__avatar"></div>
            <h3 class="post__author">
                Lester McTester
            </h3>
            <h4 class="post__timestamp">
                Oct 13 at 8:51pm
            </h4>
            <p class="post__body">
                Hamilton county river front museum center washington park breweries walnut hills findlay market
                christian moerlein flying pig ohio valley jazz festival union terminal fifty west coffee emporium chili.
            </p>
        </div>
    </div>