
{{setVarIter "scripts" "<script src='/assets/js/main/sideBar.js'></script>"}}


<div class="sidebarblock">
    <h3>Categories</h3>
    <div class="divline"></div>
    <div class="blocktxt">
        <ul class="cats">
        </ul>
    </div>
</div>


<div class="sidebarblock">
    <h3>Popular Ideas</h3>
    <div id="popularIdeas">
    </div>
</div>

<div class="sidebarblock">
    <h3>Departments</h3>
    <div id="departments" style="padding: 20px;">
    </div>
</div>
