<head>
    <link rel="stylesheet" href="/assets/css/staff.css">
</head>
<body class="wrapper">

    <main class="site-content">
        <div class="forum-index">
            <section>
                <h2 class="site-content__subtitle">Most Popular Ideas</h2>
                <div class="board-list">
                    <div class="board-list__item">
                        <div class="board-list__icon">
                            <i class="fa-regular fa-comments"></i>
                        </div>
                        <div class="board-list__info">
                            <a class="board-list__info__name board-list__link" href="#">Management Idea</a>
                        </div>
                        <div class="board-list__stats">
                            <div class="board-list__stats__value">205</div>
                            <div class="board-list__stats__key">like</div>
                        </div>
                        <div class="board-list__stats">
                            <div class="board-list__stats__value">10</div>
                            <div class="board-list__stats__key">dislike</div>
                        </div>
                        <div class="board-list__stats">
                            <div class="board-list__stats__value">23</div>
                            <div class="board-list__stats__key">comment</div>
                        </div>
                        <div class="board-list__stats">
                            <div class="board-list__stats__value">1</div>
                            <div class="board-list__stats__key">view</div>
                        </div>
                        <div class="board-list__lastpost board-list__item--last">
                            <div class="board-list__icon">
                                <i class="fa-solid fa-user-tie"></i>
                            </div>
                            <div>
                                <div class="board-list__lastpost__topic">
                                    Posted
                                </div>
                                <div class="board-list__lastpost__user">
                                    By <a class="board-list__link" href="#">Đức Minh</a>
                                </div>
                                <div class="board-list__lastpost__date">
                                    1 July, 2021
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="board-list__item">
                        <div class="board-list__icon">
                            <i class="fa-regular fa-comments"></i>
                        </div>
                        <div class="board-list__info">
                            <a class="board-list__info__name board-list__link" href="#">Management Idea</a>
                        </div>
                        <div class="board-list__stats">
                            <div class="board-list__stats__value">145</div>
                            <div class="board-list__stats__key">like</div>
                        </div>
                        <div class="board-list__stats">
                            <div class="board-list__stats__value">10</div>
                            <div class="board-list__stats__key">dislike</div>
                        </div>
                        <div class="board-list__stats">
                            <div class="board-list__stats__value">23</div>
                            <div class="board-list__stats__key">comment</div>
                        </div>
                        <div class="board-list__stats">
                            <div class="board-list__stats__value">1</div>
                            <div class="board-list__stats__key">view</div>
                        </div>
                        <div class="board-list__lastpost board-list__item--last">
                            <div class="board-list__icon">
                                <i class="fa-solid fa-user-tie"></i>
                            </div>
                            <div>
                                <div class="board-list__lastpost__topic">
                                    Posted
                                </div>
                                <div class="board-list__lastpost__user">
                                    By <a class="board-list__link" href="#">Đức Minh</a>
                                </div>
                                <div class="board-list__lastpost__date">
                                    1 July, 2021
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="board-list__item">
                        <div class="board-list__icon">
                            <i class="fa-regular fa-comments"></i>
                        </div>
                        <div class="board-list__info">
                            <a class="board-list__info__name board-list__link" href="#">Management Idea</a>
                        </div>
                        <div class="board-list__stats">
                            <div class="board-list__stats__value">87</div>
                            <div class="board-list__stats__key">like</div>
                        </div>
                        <div class="board-list__stats">
                            <div class="board-list__stats__value">10</div>
                            <div class="board-list__stats__key">dislike</div>
                        </div>
                        <div class="board-list__stats">
                            <div class="board-list__stats__value">23</div>
                            <div class="board-list__stats__key">comment</div>
                        </div>
                        <div class="board-list__stats">
                            <div class="board-list__stats__value">1</div>
                            <div class="board-list__stats__key">view</div>
                        </div>
                        <div class="board-list__lastpost board-list__item--last">
                            <div class="board-list__icon">
                                <i class="fa-solid fa-user-tie"></i>
                            </div>
                            <div>
                                <div class="board-list__lastpost__topic">
                                    Posted
                                </div>
                                <div class="board-list__lastpost__user">
                                    By <a class="board-list__link" href="#">Đức Minh</a>
                                </div>
                                <div class="board-list__lastpost__date">
                                    1 July, 2021
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="board-list__item">
                        <div class="board-list__icon">
                            <i class="fa-regular fa-comments"></i>
                        </div>
                        <div class="board-list__info">
                            <a class="board-list__info__name board-list__link" href="#">Fix bug easier</a>
                            <p class="board-list__info__description">Mang tiền về cho mẹ, đừng mang ưu phiền cho mẹ</p>
                        </div>
                        <div class="board-list__stats">
                            <div class="board-list__stats__value">62</div>
                            <div class="board-list__stats__key">like</div>
                        </div>
                        <div class="board-list__stats">
                            <div class="board-list__stats__value">10</div>
                            <div class="board-list__stats__key">dislike</div>
                        </div>
                        <div class="board-list__stats">
                            <div class="board-list__stats__value">11</div>
                            <div class="board-list__stats__key">comment</div>
                        </div>
                        <div class="board-list__stats">
                            <div class="board-list__stats__value">1</div>
                            <div class="board-list__stats__key">view</div>
                        </div>
                        <div class="board-list__lastpost board-list__item--last">
                            <div class="board-list__icon">
                                <i class="fa-solid fa-user-tie"></i>
                            </div>
                            <div>
                                <div class="board-list__lastpost__topic">
                                    Posted
                                </div>
                                <div class="board-list__lastpost__user">
                                    By <a class="board-list__link" href="#">Quang Bình</a>
                                </div>
                                <div class="board-list__lastpost__date">
                                    2 July, 2021
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
        </div>
    </main>
