{{!--
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/login.css">
</head>

<body> --}}
  {{setVar "var1" "Haha"}}

  {{#ne var1 "Login"}}
    {{var1}}
  {{/ne}}
  <form class="box" action="index.html" method="post">
    <h1>Login</h1>
    <input type="text" name="loginField" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <a href="javascript:submitlogin()" type="submit">Login</a>
  </form>

  <div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <script>
    //tokenListener.valueListener = function (val) {
    //  if (val) {
     //   window.location.href = "/admin";
      //}
    //}
    async function submitlogin() {
      var loginField = document.getElementsByName("loginField")[0].value;
      var password = document.getElementsByName("password")[0].value;
      if (loginField == "" || password == "") {
        alert("Please fill in all fields");
        return;
      }
      var data = {
        loginField: loginField,
        password: password
      }
      var loginRes = await (await fetch('/auth/api/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })).json();
      console.log(loginRes);
      if (loginRes.success) {
        tokenListener.value = loginRes.token;
        window.location.href = "/";
        return;
      }
      alert(loginRes.message);
    }
  </script>
  {{!--
</body>

</html> --}}