{{setVar "head"
'
<link rel="stylesheet" href="/assets/css/staff.css">
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="https://richtexteditor.com/richtexteditor/rte_theme_default.css" />
<script type="text/javascript" src="https://richtexteditor.com/richtexteditor/rte.js"></script>
<script type="text/javascript" src="https://richtexteditor.com/richtexteditor/plugins/all_plugins.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

'
}}

{{setVar "scripts"
'
<script src="/assets/js/idea.js"></script>
'
}}

<section>
    <div class="container">
        <h1 style="text-align: center">CHANGE START HERE</h1>
        <div class="editor-container">
            <label for="name"><b>Title</b></label>
            <input type="text" placeholder="Title" id="username" name="name" required>
            <label for="tags"><b>Tag</b></label><br>
            <input name='tags' id="tags" value='tag1, tag2'><br><br>
            <label for="name"><b>Describe your idea:</b></label>
            <div id="editorjs"></div>
            <input type="checkbox" name="check" class="check" id="check">
            <p class="check2">I agree to terms & conditions </p>
            <br>
            <br>
            <button class="button_sub">Submit</button>
        </div>
    </div>
</section>

<script>
    var input = document.querySelector('input[name=tags]');
    new Tagify(input)
</script>

{{
setVarIter 'scripts'
"
<script>
    window.addEventListener('load', initEditor);
</script>"
}}