{{setVarIter "scripts" "<script src='/assets/js/modal.js'></script>"}}
{{setVarIter "head" "<link rel='stylesheet' href='/assets/css/modal.css'>"}}


<div id="modal-window" class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-container">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{> title}}</h4>
            </div>
            <div class="modal-body">
                {{> content}}
                
            </div>
            <div class="modal-footer">
                {{> footer}}
                
            </div>
        </div>
        <button class="modal-close">&#10005;</button>
    </div>
</div>
