{{setVarIter "scripts" "
<script src='/assets/js/simple-datatable.js' type='text/javascript'></script>

"

}}
{{setVar "title" "Download Page "}}
<link rel="stylesheet" href="/assets/css/download.css">


<div class="mt-4 f-flex align-items-center">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
            Select All
        </label>
    </div>

    <button type="button" "btn-primary btn-sm btn-check-all-submit disabled" class="darkBlueBtn"
        onclick="downloadIdeaDatas()">ZIP</button>

    <button type="button" "btn-primary btn-sm btn-check-all-submit disabled" class="darkBlueBtn"
        onclick="downloadIdeaDatas()">CSV</button>
</div>

<center>
    <Table id="ideas-table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Author</th>
                <th>Day Created</th>
            </tr>
        </thead>
        <tbody id="table-ideas">

        </tbody>
    </Table>
</center>
<br><br>

{{setVarIter 'scripts' '
<script src="\assets\js\download.js"></script>
'}}