{{setVar "head"

"
<link href='https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css' rel='stylesheet' type='text/css'>
<link href='/assets/css/modal.css' rel='stylesheet' type='text/css'>

"

}}


{{setVarIter "scripts" '
<script src="/assets/js/idea.js"></script>'}}

{{setVar "title" "View Ideas Data Page "}}


<table id="information">
    <thead>
        <tr>
            <th>Tags</th>
            <th>Idea Name</th>
            <th>Uploaded By</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td><i class="fa-regular fa-comments"></i></td>
            <td>lorem</td>
            <td>lorem</td>
            <td>
                <a href="javascript:viewIdeaForm(this)"><i class="fa-solid fa-edit"></i></a>
                <a href="/ideas/delete/1"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
    </thead>
</table>
<div class="modal-area"></div>

