<section>
    <h2>Users Page</h3>
        <form>
            <input type="button" class="darkBlueBtn" value="Create User" onclick="location.href='/admin/users/create'">
        </form>
        <br>
        <br>
        <div id="table-area" style="width: 100%;">
            {{!-- <table class="information">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Organiztion</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>lorem1</td>
                    <td>lorem2</td>
                    <td>lorem3</td>
                    <td>lorem4</td>
                    <td>
                        <button class="actionBtn fa fa-pencil-square-o"
                            onclick="document.getElementById('id01').style.display='block'">Edit</button>
                        <div id="id01" class="modal">
                            <form class="modal-content animate">
                                <div class="imgcontainer">
                                    <span onclick="document.getElementById('id01').style.display='none'" class="close"
                                        title="Close">&times;</span>
                                </div>
                                <div class="container">
                                    <label for="name"><b>Name</b></label>
                                    <input type="text" placeholder="User Name" id="username" name="name" required>
                                    <label for="email"><b>Email</b></label>
                                    <input type="email" placeholder="abc@email.com" name="email" id="email" required>
                                </div>
                                <div class="container" style="background-color:#f1f1f1">
                                    <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                        class="updateBtn">Update</button>
                                </div>
                            </form>
                        </div>
                        <button class="actionBtn fa fa-trash-o" onclick="deleteAccount()">Remove</button>

                    </td>
                </tr>
            </table> --}}
        </div>
</section>
</section>

<div id="id01" class="modal">
    <form class="modal-content animate" id="editForm">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                title="Close">&times;</span>
        </div>
        <div class="container">
            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="User Name" id="username" name="name" required>
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="abc@email.com" name="email" id="email" required>
            <label for="DateOfBirth"><b>Date of Birth</b></label>
            <input type="date" id="DateOfBirth" name="DateOfBirth" required>
            <div style="width:200">
                <label for="department"><b>Department</b></label>
                <br>
                <select name="department" class="selectedItem" id="roles" required>
                    <option value="1">IT</option>
                </select>
            </div>
            <div style="width:200">
                <label for="roles"><b>Roles</b></label>
                <br>
                <select name="roles" class="selectedItem" id="roles" required>
                    <option value="1">Staff</option>
                    <option value="2">Quality Assurance Coordinator</option>
                    <option value="3">Quality Assurance Manager</option>
                </select>
            </div>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="updateAccounts()" class="updateBtn">Update</button>
        </div>
    </form>
</div>

<script src="/assets/js/user_index.js"></script>