<section>
    <h2>Users Page</h3>
        <form class="btnPos">
            <input type="button" class="darkBlueBtn" value="Create User" onclick="location.href='/admin/users/create'">
        </form>
        <br>
        <br>
        <div id="table-area">
            {{!-- <table class="information">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Organiztion</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>lorem1</td>
                    <td>lorem2</td>
                    <td>lorem3</td>
                    <td>lorem4</td>
                    <td>
                        <button class="actionBtn fa fa-pencil-square-o"
                            onclick="document.getElementById('id01').style.display='block'">Edit</button>
                        <div id="id01" class="modal">
                            <form class="modal-content animate">
                                <div class="imgcontainer">
                                    <span onclick="document.getElementById('id01').style.display='none'" class="close"
                                        title="Close">&times;</span>
                                </div>
                                <div class="container">
                                    <label for="name"><b>Name</b></label>
                                    <input type="text" placeholder="User Name" id="username" name="name" required>
                                    <label for="email"><b>Email</b></label>
                                    <input type="email" placeholder="abc@email.com" name="email" id="email" required>
                                </div>
                                <div class="container" style="background-color:#f1f1f1">
                                    <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                        class="updateBtn">Update</button>
                                </div>
                            </form>
                        </div>
                        <button class="actionBtn fa fa-trash-o" onclick="deleteAccount()">Remove</button>

                    </td>
                </tr>
            </table> --}}
        </div>
</section>
</section>

<script src="/assets/js/user_index.js"></script>

<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>