<section>
    <h2>Users Page</h3>
        <form>
            <input type="button" class="darkBlueBtn" value="Create User" onclick="location.href='/admin/users/create'">
        </form>
        <br>
        <br>
        <div id="table-area" style="width: 100%;">
        </div>
</section>
</section>

<div id="modal-area"></div>

<script src="/assets/js/user_index.js"></script>