<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from forum.azyrusthemes.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Mar 2023 16:10:46 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>

    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom -->
    <link href="/assets/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/upvotejs/upvotejs.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->

    <!-- fonts -->
    <link href='/assets/css/css5c84.css' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css" rel="stylesheet" type="text/css" />
    <script src="/assets/js/main/auth.js"></script>

    <!-- CSS STYLE-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="screen" />

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="/assets/rs-plugin/css/settings.css" media="screen" />

    <script src="/assets/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- Preloaded scripts -->
    <script src="/assets/js/util/getCookie.js"></script>

    <script src="/assets/js/main/common/editor.js"></script>

    {{{ head }}}
</head>

<body>

    <script src="/assets/js/search.js"></script>

    <div class="container-fluid">

        <!-- Slider -->
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                        <!-- MAIN IMAGE -->
                        <img src="/assets/images/slide.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top"
                            data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                    </li>
                </ul>
            </div>
        </div>
        <!-- //Slider -->

        <div class="headernav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo "><a href="index-2.html"><img
                                src="/assets/images/logo.jpg" alt="" /></a></div>
                    <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 selecttopic">
                        <div class="dropdown">
                            <a data-toggle="dropdown" href="#">Filter</a> <b class="caret"></b>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Most Viewed Ideas</a>
                                </li>
                                <li role="presentation"><a role="menuitem" tabindex="-2" href="#">Most Comment Ideas</a>
                                </li>
                                <li role="presentation"><a role="menuitem" tabindex="-3" href="#">Most Popular Ideas</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
                        <div class="wrap">
                            
                                <div class="pull-left txt"><input type="text" class="form-control" id="search-input"
                                        placeholder="Search Topics"></div>
                                <div class="pull-right"><button class="btn btn-default" type="button" id="search"><i
                                            class="fa fa-search"></i></button></div>
                                <div class="clearfix"></div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
                        <div class="stnt pull-left" id="extra-option">
                            
                        </div>
                        <div class="env pull-left"><i class="fa fa-bell"></i></div>

                        <div class="avatar pull-left dropdown">
                            <a data-toggle="dropdown" href="#"><img src="/assets/images/avatar.jpg" alt="" /></a> <b
                                class="caret"></b>
                            <div class="status green">&nbsp;</div>
                            <ul class="dropdown-menu" role="menu" id="loginOptions">

                            </ul>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>


        <section class="content">
            {{{ body }}}
        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-xs-3 col-sm-2 logo "><a href="#"><img src="/assets/images/logo.jpg"
                                alt="" /></a>
                    </div>
                    <div class="col-lg-8 col-xs-9 col-sm-5 ">Copyrights 2023, Google.com</div>
                    <div class="col-lg-3 col-xs-12 col-sm-5 sociconcent">
                        <ul class="socialicons">
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-cloud"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {{{footer}}}
        </footer>
    </div>

    <!-- get jQuery from the google apis -->
    <script type="text/javascript" src="/assets/js/jquery/jquery.js"></script>


    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="/assets/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="/assets/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <script src="/assets/js/bootstrap.min.js"></script>


    <!-- LOOK THE DOCUMENTATION FOR MORE INFORMATIONS -->
    <script type="text/javascript">

        var revapi;

        jQuery(document).ready(function () {
            "use strict";
            revapi = jQuery('.tp-banner').revolution(
                {
                    delay: 15000,
                    startwidth: 1200,
                    startheight: 278,
                    hideThumbs: 10,
                    fullWidth: "on"
                });

        });	//ready

    </script>
    {{{ scripts }}}

    <!-- END REVOLUTION SLIDER -->
</body>

<!-- Mirrored from forum.azyrusthemes.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Mar 2023 16:11:15 GMT -->

</html>