<script>

    var ideaId = '{{ideaId}}';

</script>


<div class="container">
    <div class="row">
        <div class="col-lg-8 breadcrumbf">
            <a href="#">Idea Details</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 breadcrumbf">
            <a href="#">Name Page</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">

            <!-- POST -->
            <div class="post beforepagination" id="idea">
                <div class="topwrap">
                    <div class="userinfo pull-left">
                        <div class="avatar">
                            <img height="50" widht="50" src="https://i.imgur.com/Uoeie1w.jpg" alt="" />
                            <div class="status green">&nbsp;</div>
                        </div>

                        <div class="icons">
                            <img src="/assets/images/icon1.jpg" alt="" /><img src="/assets/images/icon4.jpg"
                                alt="" /><img src="/assets/images/icon5.jpg" alt="" /><img
                                src="/assets/images/icon6.jpg" alt="" />
                        </div>
                    </div>
                    <div class="posttext pull-left">
                        <h2>Loading...</h2>
                        <p>Loading...</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="postinfobot">

                    <div class="likeblock pull-left">

                    </div>

                    <div class="prev pull-left">
                        <a href="#"><i class="fa fa-reply"></i></a>
                    </div>

                    <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on : Loading...</div>

                    <div class="next pull-right">
                        <a href="#"><i class="fa fa-share"></i></a>

                        <a href="#"><i class="fa fa-flag"></i></a>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>

            <!-- POST -->

            <div class="container" id="pagination">
            </div>
            <div class="comment-section">
            </div>

            <!-- POST -->
            {{> reply}}
            <!-- POST -->


        </div>
        <div class="col-lg-4 col-md-4">
            {{> sidebar}}
        </div>
    </div>
</div>



<div class="container" id="pagination">
</div>


{{setVarIter 'scripts' '
<script src="/assets/js/main/idea_detail.js"></script>
<script src="/assets/js/main/vote.js"></script>
<script src="/assets/js/main/common/pagination.js"></script>
<script
'}}
