<section class="content">
    <div class="container" id="pagination">
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8" id="posts">
                <!-- POST -->

                <!-- POST -->
            </div>
            <div class="col-lg-4 col-md-4">
                {{> sidebar}}
            </div>
        </div>
    </div>



    <div class="container" id="pagination">
        
    </div>


</section>

{{setVarIter 'scripts' '
<script src="/assets/upvotejs/upvotejs.vanilla.js"></script>
<script src="/assets/js/main/post.js"></script>
<script src="/assets/js/main/common/pagination.js"></script>
<script src="/assets/js/main/vote.js"></script>
'}}
