{{setVar "head"

"
<link href='https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css' rel='stylesheet' type='text/css'>
<link href='/assets/css/modal.css' rel='stylesheet' type='text/css'>

"

}}
{{setVarIter "head" "
<script src='/assets/js/simple-datatable.js' type='text/javascript'></script>
<script src='/assets/js/modal.js' type='text/javascript'></script>
"

}}
{{setVarIter "scripts" '
<script src="/assets/js/department_index.js"></script>'}}







    <section>
        <h2>Departments Page</h3>
            <form>
                <input type="button" class="darkBlueBtn" value="Create Department"
                    onclick="createDepartmentForm(this)">
            </form>
            <br>
            <table>

            </table>
    </section>
    <div class="modal-area"></div>

